body {

       background: url("./mojobuddy-icons/mylogo.jpg");
     //  background-size: cover;
    //   font-family: Arial;
     //background:White;

}

#_id0001{
         Width: 100%;
         background: #3b5998;
         position:relative;
         overflow: hidden;
         //display: flex;
}

#_id0001 h1 {
        color: White;
        font: italic bold;
        font-weight: bold;
        //position:center;
        //padding: 20px 200px;
        text-align: center;
        border-style: 2px solid;
}

#_id0002{
         Width: 100%;
         background:Green;
         position:relative;
         overflow: auto;
         color:White;
}